
@{
    this.ViewBag.Title = "Chat";
}
<head>
    <style>
        body {
            background-image: url('https://cdn.wallpapersafari.com/82/19/F9ielj.jpg');
        }
    </style>
</head>
<style>
div.panel-body { overflow: auto; background: url('https://www.romamoulding.com/wp-content/uploads/2014/03/Livechat.jpg'); }
</style>
<h2 class="text-center">Game Chat <i class="fa fa-paper-plane fa-fw"></i></h2>
<p class="text-center">Welcome to our live chat!</p>

    <div class="panel-body" id="messagesList" style="height:250px;width:auto">
        <input type="hidden" id="displayname" />

        <p id="discussion"></p>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input id="messageInput" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />

            <span class="input-group-btn">
                <input type="button" class="btn btn-warning btn-sm" id="sendButton" value="Send">

            </span>
        </div>
    </div>

@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();
        connection.on("NewMessage",
            function (message) {
                var chatInfo = `<div  style="color:black;text-align:center;font-size: 25px">${message.user} says :  ${escapeHtml(message.text)}</div>`;
                $("#messagesList").append(chatInfo);
            });
         
           
        $("#sendButton").click(function () {
            var message = $("#messageInput").val();
            connection.invoke("Send", message);
            $("#messageInput").val("");
        });
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}