@model SoftGamesShop.Web.ViewModels.Contacts.ContactFormViewModel
@{
    ViewData["Title"] = "Contact";
}
<head>
    <style>
        body {
            background-image: url('https://cdn.wallpapersafari.com/82/19/F9ielj.jpg');
        }
    </style>
</head>
<h3>Send Us an email!</h3>
@using (Html.BeginForm("SendMail", "Contacts"))
{
    <div class="has-error" col-md-12>
        <form method="post">
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Name">Name:</label>
                    <input asp-for="Name" class="form-control" placeholder="Your Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" class="form-control" placeholder="Your Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Title">Subject:</label>
                    <input asp-for="Title" class="form-control" placeholder="How can we help you ?"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Content">Message:</label>
                    <textarea rows="8" cols="20" asp-for="Content" class="form-control" placeholder="Please describe... "></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Send Message</button>
            </div>
        </form>
    </div>


}

<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
</head>
<body>
    <input type="button"  value="Click to Display Map" onclick="DisplayGoogleMap()" />
    <div id="myDiv" style="width:90%;height:300px;"></div>

    <script type="text/javascript">
        function DisplayGoogleMap() {            
            var myAddress = new google.maps.LatLng(42.851491476124224, 23.038072586059574);
            
            var mapOptions = {
                center: myAddress,
                zoom: 15,
                minZoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

            var marker = new google.maps.Marker({
                position: myAddress,
                animation: google.maps.Animation.BOUNCE,
            });

            marker.setMap(map);
        }
    </script>
</body>
</html>
