@model SoftGamesShop.Web.ViewModels.Game.AddGameInputModel
@{ this.ViewData["Title"] = "Add game!";
    var genres = this.Model.Genres.Select(x => new SelectListItem(x.Name, x.Id.ToString()));

    var platforms = Model.Platforms.Select(x => new SelectListItem(x.Type, x.Id.ToString()));
    var ratings = Model.Ratings.Select(x => new SelectListItem(x.Name, x.Id.ToString()));}




<form enctype="multipart/form-data" method="post">
    <h4 class="text-center text-uppercase">Add a Game !</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" class="form-control" type="date" value="2000-12-31" id="example-date-input">
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Developer"></label>
        <input asp-for="Developer" class="form-control" />
        <span asp-validation-for="Developer" class="text-danger"></span>
    </div>

    <div class="form-group">

        <label asp-for="Trailer">Trailer (Link)</label>
        <input asp-for="Trailer" class="form-control" />
        <span asp-validation-for="Trailer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlayersCount">Players Count</label>
        <input asp-for="PlayersCount" class="form-control" type="number" id="example-int-input">
        <span asp-validation-for="PlayersCount" class="text-danger"></span>

    </div>

    <div class="form-group">
        <div class="checkbox">
            <label asp-for="CoOp">Co-Op (Multiplayer)</label>
            <label><input asp-for="CoOp" type="checkbox" value="true"></label>
        </div>
    </div>

    <div>
        <label asp-for="Genres">Genre</label>
        <select asp-for="GenreId" asp-items="genres" class="form-control"></select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Ratings">Rating</label>
        <select asp-for="RatingId" asp-items="ratings" class="form-control"></select>
        <span asp-validation-for="RatingId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Platforms">Platform</label>
        <select asp-for="PlatformId" asp-items="platforms" class="form-control"></select>
        <span asp-validation-for="PlatformId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Images">Image</label>

        <input asp-for="Images" class="btn-block" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <input type="submit" value="ADD GAME" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
</form>

