@{ this.ViewData["Title"] = "Error"; }
<head>
    <style>
        body {
            background-image: url('https://cdn.wallpapersafari.com/82/19/F9ielj.jpg');
        }
    </style>
</head>

<h1 class="text-center">No game found !</h1>
<h3 class="text-center">You may <a asp-controller="Games" asp-action="Create">Add</a> it if you like :)</h3>


