@{ this.ViewData["Title"] = "Error"; }
<head>
    <style>
        body {
            background-image: url('https://cdn.wallpapersafari.com/82/19/F9ielj.jpg');
        }
    </style>
</head>

<h2>No game found !</h2>
<h3>You may add it if you like :)!</h3>